#touch-area {
  pointer-events: all;
}

.text-base {
  fill: white;
  text-length: 16;
  font-family: System-Bold;
  font-weight: bold;
}

.text-start {
  x: 0;
  text-anchor: start;
}

.text-middle {
  x: 50%;
  text-anchor: middle;
}

.text-end {
  x: 100%;
  text-anchor: end;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}